* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: pink;
}
header {
    font-size: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;

}

header nav {
    display: flexbox;
    margin-right: 10px;
    padding-top: 15px;
    float: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    padding: 5px 5px 5px 5px;
}

nav a:hover {
  background-size: 100% 100%;
}

imgCaption {
    display: block;
    font-size: 25px;
    font-family:Georgia, Arial, Helvetica, sans-serif ;
    color: black;
}

.content {
    width: 75%;
    display: flexbox;
    margin: 20px;
    background-color:none;
}

.main img {
    max-height: 250px;  
}

.float-right img {
    max-height: 220px;
}

.main {
    margin: 50px;
    border: 10px solid black;
    padding: 50px;
    height: 350px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:;
    color: black;
    display: flexbox;
}

.float-right {
    margin: 50px;
    border: 10px solid black;
    padding: 50px;
    height: 350px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:;
    color: black;
    display: flexbox;
}

.float-left {
    margin: 50px;
    border: 10px solid black;
    padding: 50px;
    height: 350px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:;
    color: black;
    display: flexbox;
}

.main h1 {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 20px;
    padding: 20px;
    float: right;
}

.main p {
    float: right;
    font-size: 25px;
}
